* {
    background-color: #F2F2F2;

}
h1{
    color: orange;
    font-size: 34px;
    text-align: center;
}

form {
    margin: 20px;
    text-align: center;
}























































































































